<footer class="site-footer" role="contentinfo">
  <div class="site-footer__inner">
    {% if site.features.newsletter and site.newsletter_url and site.newsletter_url != "" %}
      {% include newsletter.html context="footer" %}
    {% endif %}

    <ul class="site-footer__social" aria-label="Social links">
      {% if site.author.twitter %}
        <li><a href="https://twitter.com/{{ site.author.twitter }}" rel="me noopener" target="_blank">Twitter</a></li>
      {% endif %}
      {% if site.author.github %}
        <li><a href="https://github.com/{{ site.author.github }}" rel="me noopener" target="_blank">GitHub</a></li>
      {% endif %}
      {% if site.features.rss %}
        <li><a href="{{ '/feed.xml' | relative_url }}">RSS</a></li>
      {% endif %}
    </ul>

    <p class="site-footer__copy">
      &copy; {{ site.author.name | default: site.name }} {{ 'now' | date: '%Y' }}
    </p>
  </div>
</footer>
